/old
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
*/schemas
/password.gradle.kts
/buildSrc/src/main/kotlin/KeystoreConfig.kt
**/build/
/stuff
